<main>
  <h2>Section title</h2>
  <div class="table-responsive">
       <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Numero de Personas</th>
        <th>Fecha</th>
        <th>Direccion</th>
        <th></th>
        <th></th>

        <th> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let evento of eventos; let i = index;">
        <td>{{evento.tipo}}</td>
        <td>{{evento.num_personas}}</td>
        <td>{{evento.fecha}}</td>
        <td>{{evento.direccion}}</td>
        <td><button [disabled]="loading" class="btn btn-secondary" (click)="updateEvento(evento)" >Editar</button></td>
        <td><button [disabled]="loading" class="btn btn-danger" (click)="deleteEvento(evento, i)">Eliminar</button></td>

      </tr>

      </tbody>
    </table>
  </div>
</main>
