<h2>Section title</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Header</th>
      <th>Header</th>
      <th>Header</th>
      <th>Header</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let empleado of empleados;">
      <td>{{empleado.nombre}}</td>
      <td>{{empleado.apellido}}</td>
      <td>{{empleado.sueldo}}</td>
      <td>{{empleado.puesto}}</td>
      <td>{{empleado.telefono}}</td>
    </tr>

    </tbody>
  </table>
</div>
