<head>

</head>
<body>
<h2>Empleados</h2>
<div class="table-responsive">
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary" routerLink="/agregar-cliente">Agregar Empleado</button>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Sueldo</th>
      <th>Puesto</th>
      <th>Teléfono</th>
      <th> </th>
      <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let empleado of empleados;">
      <td>{{empleado.nombre}}</td>
      <td>{{empleado.apellido}}</td>
      <td>{{empleado.sueldo}}</td>
      <td>{{empleado.puesto}}</td>
      <td>{{empleado.telefono}}</td>
      <td><button [disabled]="loading" class="btn btn-secondary" (click)="updateEmpleado(empleado)" >Editar</button></td>
      <td><button [disabled]="loading" class="btn btn-danger" (click)="deleteEmpleado(empleado, i)">Eliminar</button></td>

    </tr>

    </tbody>
  </table>
</div>

</body>
