<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <h2>Pagos</h2>
  <div class="table-responsive">
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" routerLink="/agregar-pago">Agregar Pago</button>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Forma de pago</th>
        <th>Fecha</th>
        <th></th>
        <th></th>

        <th> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of pago; let i = index;">
        <td>{{p.forma_pago}}</td>
        <td>{{p.fecha}}</td>
        <td><button [disabled]="loading" class="btn btn-danger" (click)="deletePago(p, i)">Eliminar</button></td>

      </tr>

      </tbody>
    </table>
  </div>
</main>
