<main>
  <h2>Eventos {{cliente.nombre}}</h2>
  <div class="table-responsive">
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" routerLink="/clientes">Regresar</button>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>

        <th> </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.telefono}}</td>
        <td>{{cliente.direccion}}</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Tipo</th>
        <th>Numero de Personas</th>
        <th>Fecha</th>
        <th>Direccion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let evento of eventos; let i = index;">
        <td>{{evento.tipo}}</td>
        <td>{{evento.num_personas}}</td>
        <td>{{evento.fecha}}</td>
        <td>{{evento.direccion}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
