<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
<div class="container">

  <h2>Agregar Cliente</h2>
  <form name="form" (ngSubmit)="f.form.valid && updateCliente()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nombre.valid }">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" name="nombre" [(ngModel)]="cliente.nombre" #nombre="ngModel" required />
      <div *ngIf="f.submitted && !nombre.valid" class="help-block">El nombre es necesario</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !apellido.valid }">
      <label for="apellido">Apellido</label>
      <input type="text" class="form-control" name="apellido" [(ngModel)]="cliente.apellido" #apellido="ngModel" required />
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="cliente.email" #email="ngModel" required />
      <div *ngIf="f.submitted && !email.valid" class="help-block">El email es necesario</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !telefono.valid }">
      <label for="telefono">Telefono</label>
      <input type="number" class="form-control" name="telefono" [(ngModel)]="cliente.telefono" #telefono="ngModel" required />
      <div *ngIf="f.submitted && !telefono.valid" class="help-block">El telefono es incorrecto</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !direccion.valid }">
      <label for="direccion">Direccion</label>
      <input type="text" class="form-control" name="direccion" [(ngModel)]="cliente.direccion" #direccion="ngModel" required />
      <div *ngIf="f.submitted && !direccion.valid" class="help-block">La direccion es necesaria</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Actualizar</button>
    </div>
  </form>

</div>
</main>
