<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/principal">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/empleados">Empleados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clientes">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/eventos">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nueva-cotizacion">Cotizaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/muebles">Muebles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/decoracion">Decoración</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pagos">Pagos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<body>
<br><br><br>
<router-outlet></router-outlet>
</body>

