<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nombre">
    <label for="exampleInputEmail1">Apellido</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="apellido">
    <label for="exampleInputEmail1">Sueldo</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="$ sueldo">
    <label for="exampleInputEmail1">Puesto</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="puesto">
    <label for="exampleInputEmail1">Teléfono</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="teléfono">
  </div>
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>
