<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
<div class="container">

  <h2>Nueva Cotizacion</h2>
  <form name="form" (ngSubmit)="f.form.valid && addCliente()" #f="ngForm" novalidate>
    <div class="row">
      <div class="col">
        <label for="clientes">Clientes</label><br>
        <select>
          <option *ngFor="let cliente of clientes" (click)="changeCliente(cliente)">
            {{cliente.nombre}} {{cliente.apellido}}
          </option>
        </select>

      </div>
      <div class="col">
        <div class="dropdown">
          <label for="eventos">Eventos</label><br>
          <select name="eventos">
            <option *ngFor="let evento of eventos"
                    [value]="evento">
              {{evento.tipo}} {{evento.fecha}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!!muebles">
      <div class="col">
        <div class="dropdown">
          <label for="muebles">Muebles</label><br>
          <select name="muebles">
            <option *ngFor="let mueble of muebles; let i = index;"
                    (click)="changeMueble(i)">
              {{mueble.nombre}}
            </option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !precio_montaje.valid }">
          <label for="cantidad">Disponible</label>
          <p>{{muebles[selectedMueble].cantidad}}</p>
        </div>
      </div>
      <div clas="col">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !precio_montaje.valid }">
          <label for="cantidad_mueble">Cantidad</label>
          <input type="number" class="form-control" name="cantidad_mueble" [(ngModel)]="cm"
                 #cantidad_mueble="ngModel" required/>
          <div *ngIf="f.submitted && !cantidad_mueble.valid" class="help-block">La cantidad es incorrecta</div>
        </div>
      </div>
      <div class="col">
        <label> </label><br>
        <button [disabled]="loading" class="btn btn-primary" (click)="addMueble()">+</button>
      </div>
    </div>
    <div class=row *ngIf="!!decoraciones">
      <div class="col">
        <div class="dropdown" >
          <label for="decoracion">Decoracion</label><br>
          <select name="decoracion">
            <option *ngFor="let decoracion of decoraciones; let i = index;"
                    (click)="changeDecoracion(i)">
              {{decoracion.nombre}}
            </option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !precio_montaje.valid }">
          <label for="cantidad_decoracion">Cantidad disponible</label>
          <p>{{decoraciones[selectedDecoracion].cantidad}}</p>
        </div>
        </div>
      <div clas="col">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !precio_montaje.valid }">
          <label for="cantidad_decoracion">Cantidad a rentar</label>
          <input type="number" class="form-control" name="cantidad_decoracion"
                 [(ngModel)]="cd" #cantidad_decoracion="ngModel" required/>
          <div *ngIf="f.submitted && !cantidad_decoracion.valid" class="help-block">La cantidad es incorrecta</div>
        </div>
      </div>
      <div class="col">
        <label> </label><br>
        <button [disabled]="loading" class="btn btn-primary" (click)="addDecoracion()">+</button>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !precio_montaje.valid }">
      <label for="precio_montaje">Precio de montaje</label>
      <input type="number" class="form-control" name="precio_montaje" [(ngModel)]="cotizacion.precio_montaje"
             #precio_montaje="ngModel" required/>
      <div *ngIf="f.submitted && !precio_montaje.valid" class="help-block">El precio montaje es incorrecto</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !precio_montaje.valid }">
      <label for="flete">Flete</label>
      <input type="number" class="form-control" name="flete" [(ngModel)]="cotizacion.flete" #flete="ngModel" required/>
      <div *ngIf="f.submitted && !flete.valid" class="help-block">El flete es incorrecto</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Agregar</button>
    </div>
  </form>

</div>
</main>
