<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <h2>Clientes</h2>
  <div class="table-responsive">
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" routerLink="/agregar-cliente">Agregar Cliente</button>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th></th>
        <th></th>

        <th> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cliente of clientes; let i = index;">
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.email}}</td>
        <td><button [disabled]="loading" class="btn btn-secondary" (click)="updateCliente(cliente)" >Editar</button></td>
        <td><button [disabled]="loading" class="btn btn-danger" (click)="deleteCliente(cliente, i)">Eliminar</button></td>
        <td><button [disabled]="loading" class="btn btn-info" (click)="verCliente(cliente)">Ver detalles</button></td>
        <td><button [disabled]="loading" class="btn btn-success" (click)="verEventos(cliente)">Eventos</button></td>

      </tr>

      </tbody>
    </table>
  </div>
</main>

