<main>
  <h2>Section title</h2>
  <div class="table-responsive">
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" routerLink="/agregar-cliente">Agregar Cliente</button>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th></th>
        <th></th>

        <th> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cliente of clientes; let i = index;">
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.email}}</td>
        <td><button [disabled]="loading" class="btn btn-secondary" >Editar</button></td>
        <td><button [disabled]="loading" class="btn btn-danger" (click)="deleteCliente(cliente, i)">Eliminar</button></td>
        <td><button [disabled]="loading" class="btn btn-info">Ver detalles</button></td>
      </tr>

      </tbody>
    </table>
  </div>
</main>

