<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
  <div class="container">

    <h2>Registrar Pago</h2>
    <form name="form" (ngSubmit)="f.form.valid " #f="ngForm" novalidate>
      <div class="row">
        <div class="col">
          <label for="clientes">Clientes</label><br>
          <select required>
            <option *ngFor="let cliente of clientes" (click)="changeCliente(cliente)">
              {{cliente.nombre}} {{cliente.apellido}}
            </option>
          </select>

        </div>
        <div class="col">
          <div class="dropdown">
            <label for="eventos">Eventos</label><br>
            <select name="eventos" required>
              <option *ngFor="let evento of eventos"
                      [value]="evento" selected disabled>
                {{evento.tipo}} {{evento.fecha}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !forma_pago.valid }">
        <label for="forma_pago">Forma de pago</label>
        <input type="text" class="form-control" name="forma_pago" [(ngModel)]="pago.forma_pago"
               #forma_pago="ngModel" required/>
        <div *ngIf="f.submitted && !forma_pago.valid" class="help-block">La forma de pago es incorrecta</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fecha.valid }">
        <label for="fecha">Fecha</label>
        <input type="date" class="form-control" name="fecha" [(ngModel)]="pago.fecha" #fecha="ngModel" required/>
        <div *ngIf="f.submitted && !fecha.valid" class="help-block">La fecha es incorrecta</div>
      </div>

      <div class="form-group">
        <button [disabled]="!f.form.valid" class="btn btn-primary" (click)="addPago()">Agregar</button>
      </div>
    </form>
  </div>
</main>
